In [6]:
#Task 1: The Integrity Audit (Missing Values & Duplicates)

import pandas as pd

# Load dataset
df = pd.read_csv("Customer_Details.csv")

# Shape before cleaning
print("Shape BEFORE cleaning:", df.shape)

# Missing values report
print("\nMissing values in each column:")
print(df.isna().sum())

# Fill missing numeric values with median
numeric_cols = df.select_dtypes(include='number').columns
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].median())

# Remove duplicate rows
df_cleaned = df.drop_duplicates()

# Shape after cleaning
print("\nShape AFTER cleaning:", df_cleaned.shape)

# Show cleaned data
print("\nCleaned Data:")
df_cleaned.head()

Shape BEFORE cleaning: (7, 3)

Missing values in each column:
order_id    1
customer    0
amount      1
dtype: int64

Shape AFTER cleaning: (6, 3)

Cleaned Data:

   order_id customer  amount
0    1001.0    Alice   250.0
1    1002.0      Bob   300.0
2    1002.5  Charlie   150.0
3    1003.0    David   200.0
5    1004.0      Eva   275.0