In [8]:
import sqlite3

# -----------------------------
# 1️⃣ Create / Connect Database
# -----------------------------
conn = sqlite3.connect("internship.db")
cursor = conn.cursor()

# -----------------------------
# 2️⃣ Create Table
# -----------------------------
cursor.execute("""
CREATE TABLE IF NOT EXISTS interns (
    id INTEGER PRIMARY KEY,
    name TEXT,
    track TEXT,
    stipend INTEGER
)
""")

# -----------------------------
# 3️⃣ Insert Sample Data
# -----------------------------
intern_data = [
    (1, "Pooja", "Data Science", 15000),
    (2, "Rahul", "Web Dev", 12000),
    (3, "Amit", "Data Science", 15000),
    (4, "Sneha", "UI/UX", 10000),
    (5, "Karan", "Web Dev", 12000)
]

cursor.executemany("INSERT OR IGNORE INTO interns VALUES (?, ?, ?, ?)", intern_data)

# Save changes
conn.commit()

# -----------------------------
# 4️⃣ Query Specific Columns
# -----------------------------
cursor.execute("SELECT name, track FROM interns")

rows = cursor.fetchall()

print("Intern Name and Track:")
for row in rows:
    print(row)

# Close connection
conn.close()

Intern Name and Track:
('Aarav', 'Data Science')
('Meera', 'Web Development')
('Rohan', 'Data Science')
('Ananya', 'AI & ML')
('Kunal', 'Web Development')
('Aarav', 'Data Science')
('Meera', 'Web Development')
('Rohan', 'Data Science')
('Ananya', 'AI & ML')
('Kunal', 'Web Development')
('Aarav', 'Data Science')
('Meera', 'Web Development')
('Rohan', 'Data Science')
('Ananya', 'AI & ML')
('Kunal', 'Web Development')